---
import Image from "../cards/Image.astro";
interface images {
    src: string;
    alt: string;
}

const images: images[] = [
    {
        src: "/images/roosters/5.webp",
        alt: "image"
    },
    {
        src: "/images/roosters/6.webp",
        alt: "image"
    },
    {
        src: "/images/roosters/7.webp",
        alt: "image"
    },
    {
        src: "/images/roosters/9.webp",
        alt: "image"
    },
    {
        src: "/images/roosters/5.webp",
        alt: "image"
    },
    {
        src: "/images/roosters/7.webp",
        alt: "image"
    },
]
---
<div class="mx-auto max-w-6xl">
    <div class="columns-3 gap-x-8 pt-2">
        { images.map((image) => (
            <Image src={image.src} alt={image.alt} />
        )) }
    </div>

</div>