---

---
<section class="py-4 mt-16 sm:mt16 lg:mt-10">
    <div class="mx-auto lg:max-w-6xl w-full px-5 sm:px-10 md:px-12 lg:px-5 grid lg:grid-cols-2 lg:items-center gap-10">
        <div class="flex flex-col space-y-8 sm:space-y-10 lg:items-center text-center lg:text-left max-w-2xl md:max-w-3xl mx-auto">
            <h1 class=" font-semibold leading-tight text-teal-950 dark:text-white text-3xl sm:text-4xl lg:text-5xl">
                We'll be happy to take care of
                <span class="text-transparent bg-clip-text bg-gradient-to-tr from-pink-700 to-orange-800">your work.</span>
            </h1>
            <p class="flex text-gray-700 dark:text-gray-300 lg:leading-loose leading-none tracking-tight md:font-normal text-base max-w-xl mx-auto lg:max-w-none">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestiae soluta ipsa
                incidunt expedita rem! Suscipit molestiae voluptatem iure, eum alias nobis velit quidem
                reiciendis saepe nostrum
            </p>
            <div class=" flex flex-col sm:flex-row items-center justify-center lg:justify-start gap-4 w-full">
                <a href="#" class="px-6 text-sm font-medium items-center h-12 rounded-3xl bg-pink-600 text-white duration-300 ease-linear flex justify-center w-full sm:w-auto">
                    Get started
                </a>
                <a href="#" class="group/a px-6 text-sm font-medium items-center h-12 rounded-3xl text-pink-700 border border-gray-100 dark:border-gray-800 dark:text-white bg-gray-100 dark:bg-gray-900 duration-300 ease-linear flex justify-center w-full sm:w-auto">
                    Book a call
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="group-hover/a:translate-x-2 h-4 w-4 translate-x-1 duration-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </a>
            </div>
            <div class="mt-5 flex items-center justify-center flex-wrap gap-4 lg:justify-start w-full">
                <a href="#" target="_blank">
                    <img src={"/logos/kamoto.png"} alt="client name" class="h-10 w-auto dark:grayscale">
                </a>
                <a href="#" target="_blank">
                    <img src={"/logos/mkk.png"} alt="client name" class="h-10 w-auto dark:grayscale">
                </a>
                <a href="#" target="_blank">
                    <img src={"/logos/mumi.png"} alt="client name" class="h-10 w-auto dark:grayscale">
                </a>
                <a href="#" target="_blank">
                    <img src={"/logos/rawbank.png"} alt="client name" class="h-10 w-auto dark:grayscale">
                </a>
            </div>
        </div>
        <div class="flex aspect-square lg:aspect-auto lg:h-[35rem] relative">
            <div class="w-3/5 h-[80%] rounded-3xl overflow-clip border-8 border-gray-200 dark:border-gray-950 z-30">
                <img src={'/images/roosters/5.webp'} alt="buildind plan image" width="300"
                     class="w-full h-full object-cover z-30" />
            </div>
            <div class="absolute right-0 bottom-0 h-[calc(100%-50px)] w-4/5 rounded-3xl overflow-clip border-4 border-gray-200 dark:border-gray-800 z-10">
                <img src={'/images/roosters/banner.webp'} alt="working-on-housing-project"
                     width="300" class="z-10 w-full h-full object-cover" />
            </div>
        </div>
    </div>
</section>
