---
import {GalleryImages} from "../../data/GalleryImages";
---
<section class="relative py-4">
    <div class="splide absolute z-6" aria-label="Splide Basic HTML Example">
        <div class="splide__track h-max min-h-max">
            <ul class="splide__list cursor-grab active:cursor-grabbing select-none children:select-none">
                {
                    GalleryImages.map((image) => (
                        <li class="splide__slide">
                           <img
                              src={image.src}
                              class="inset-0 object-cover object-center"
                              alt={image.alt}
                              width="800"
                              height="400"
                           />
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <div aria-hidden="true" class="absolute inset-0 w-full h-full bg-slate-800 bg-opacity-70 backdrop-blur-sm"></div>
    <div class="relative container m-auto">
        <div class="mx-auto lg:max-w-6xl w-full px-5 sm:px-10 md:px-12 lg:px-5 py-[7%]">
            <div class="text-center flex flex-col items-center space-y-10">
                <h1 class="text-5xl text-white font-bold md:text-5xl lg:text-6xl/tight xl:text-7xl/tight  dark:text-white max-w-4xl capitalize">
                    We inspire Growth for your business brand
                </h1>
                <p class="text-lg text-white font-semibold dark:text-gray-300 text-center max-w-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique deleniti earum, qui odio,
                    dolorum labore incidunt ad ab porro, provident excepturi molestiae corporis molestias nam accusamus.
                </p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#" class="px-8 h-12 text-sm rounded-full flex items-center gap-x-3 bg-red-600 text-white hover:before:scale-105 before:hover:transition before:duration-100 active:duration-75 active:before:scale-95">
                        Let's talk
                    </a>
                    <a href="#" class="font-semibold text-sm text-white leading-6">
                        Learn more <span aria-hidden="true">→</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-12 grid grid-cols-4 sm:grid-cols-2 md:grid-cols-4 pb-3">
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                <img src={'/logos/kamoto.png'} class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
            </div>
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                <img src={'/logos/mkk.png'} class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
            </div>
            <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                <img src={'/logos/mumi.png'} class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="">
            </div>
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                <img src={'/logos/rawbank.png'} class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
            </div>
        </div>
    </div>
</section>

<script>
    import "@splidejs/splide/css";
    import Splide from "@splidejs/splide";
    document.addEventListener("DOMContentLoaded", function () {
        const splide = new Splide(".splide", {
            type: "loop",
            focus: "center",
            padding: "10px",
            gap:"4px",
            autoWidth: true,
            arrows:false,
            autoplay: true,
        });

        splide.on("pagination:mounted", function (data) {
            data.list.classList.remove("splide__pagination--ltr");
            data.list.classList.remove("splide__pagination");
        });
        splide.mount();
    });
</script>